[Unit]
Description=Battery charge monitoring service
After=graphical-session.target network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/battalert.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target